/* logo*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    color: $title-text-color;
    @media screen and (min-width: $tablet){
        font-size: 28px;
        letter-spacing: 0.03em;
        margin-right: 88px;
    }

    @media screen and (min-width: $desktop){
        font-size: 26px;
        line-height: 1.19;
        margin-right: 93px;

        
    }
    /*width: 145px;
    height: 31px;*/

    letter-spacing: 0.03em;
   /* margin-right: 93px;*/

    &__text {
        color: $accent-color;
    }

   /* &__footer-logo{
        color: $main-white-color;
        margin: 0;
    }*/
}