/* navigation*/
.header {
    &__container {
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 25px;
    }

    &__nav,
    &__list {
    display: flex;
    align-items: center;
    }

    &__portfolio {
        border-bottom: 1px solid #ECECEC;
    } 

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__contact {
        margin-left: auto;
    }
    
    &__item-contact{
        margin-right: 30px;
    }
    
    &__page {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color $animation-duration $animation-timing;
    
        color: $title-text-color;
    
    }
    
    &__page:hover,
    &__page:focus {
        color: $accent-color;
        
    }
    
    &__page--active{
        color: $accent-color;
    }
    
    &__page--active::after{
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -0.5px;
    
        background-color: $accent-color;
    }
    
    &__page--contact {
        display: flex;
        align-items: center;
        padding: 0;
    
        color: $main-text-color;
    }
    
    &__icon{
        width: 16px;
        margin-right: 10px;
        
        fill: currentColor
    }    
}