/*portfolio button*/

.project {
    padding-top: 100px;
    padding-bottom: 94px;
}
   
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__item:not(:last-child) {
        margin-right: 8px;
    }     
    
    &__button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;    
        background: #F5F4FA;
        border: 0;
        border-radius: 4px;
        padding: 6px 22px;
        transition: color, background-color, box-shadow $animation-duration $animation-timing;
        color:$title-text-color;
    }
    
    &__button:hover,
    &__button:focus{
        background-color: $accent-color;
        color: $main-white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    
    &__button:active{
        color: $main-white-color;
        background-color: $accent-color
    }
}