/*portfolio projects*/

.card {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-right: 30px;
        margin-bottom: 30px;  
    }
    
    &__item:nth-child(3n) {
        margin-right: 0;
    }
    
    &__item:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
    
    &__link{
        transition: box-shadow $animation-duration $animation-timing;
    }
    
    &__link:hover,
    &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);   
    }
    
    &__img{
        position: relative;
        overflow: hidden;
    }
    
    &__img--overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;    
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform $animation-duration $animation-timing;
    }
    
    &__img--overlay-text{
        padding: 63px 24px;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    
    &__link:hover &__img--overlay,
    &__link:focus &__img--overlay{
        transform: translateY(0);
    }
    
    &__title{
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    &__item-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
        color: $title-text-color;
    }
    
    &__item-text{
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;    
        color: $main-text-color;
    }
}