/* features */

.features {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title{
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
    
    &__list{
        display: flex;
    }
    
    &__item:not(:last-child){
        margin-right: 30px;
    }
    
    &__item {
        width: 270px;
    }
    
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: $background-icon;
        margin-bottom: 30px;
        border-radius: 4px;    
    }
    
    &__item-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-bottom: 10px;    
        color: $title-text-color;        
    }
    
    &__item-text{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;    
        color: $main-text-color;
    }
    
    &__icon-size{
        width: 70px;
        height: 70px;
    }
}