$title-text-color: #212121;
$main-text-color: #757575;
$accent-color:  #2196F3;
$main-white-color: #FFFFFF;
$address-color: #2F303A;
$background-icon: #F5F4FA;
$color-icon: #AFB1B8;
$animation-duration: 250ms;
$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
